name: GitHub PR Size Assessment Trigger
on:
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: number
      repo:
        required: true
        type: string
      owner:
        required: true
        type: string
      merged:
        required: true
        type: boolean

jobs:
  assess-pr-size-on-merge:
    # if: inputs.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Comment on the PR
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const body = fs.readFileSync('instructions.txt', 'utf8');
            github.rest.issues.createComment({
              body,
              repo: inputs.repo,
              owner: inputs.owner,
              issue_number: inputs.pr_number
            })
