name: GitHub PR Size Assessment Trigger
on:
  pull_request:
    types:
      - closed

jobs:
  assess-pr-size-on-merge:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Comment on the PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "@coderabbitai assess this PR size (number of total, addition and deletion diff) for the totality of the PR with the following criterias and report it in your comment: \n- the assessment must be for the totality of the PR, that means from the first commit to the last commit \n- only include the relevant and main source files and changes in your assessment, for example changes in generated files such as lock files should be excluded \n- the  assessment should be in the format of: ADDITIONS=number DELETIONS=number TOTAL=number , where TOTAL is sum of ADDITIONS and DELETIONS \n- the PR size is for the most part the same as the PR diff, but excluding the changes in irrevelant file, the ones that explained earlier \n- no other text and explanation should be in your comment, just the number of addition, deletions and total that you have assessed \n- you assessment comment should also not include any of your tips or other sections \n- do NOT tag me or anyone else on your comment"
            })
