name: GitHub PR Size Assessment Trigger
on:
  pull_request:
    types:
      - closed

jobs:
  assess-pr-size-on-merge:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Read Instructions
        run: echo "INSTRUCTIONS=$(cat ./instructions.txt)" >> $GITHUB_ENV
      - name: Comment on the PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: process.env.INSTRUCTIONS
            })
